@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"); /*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
::-moz-selection {
  color: #43494E;
  background: #43494E;
}
::selection {
  color: #43494E;
  background: #43494E;
}

html {
  scroll-padding-top: 30px;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #ffffff;
  color: #43494E;
  font-size: 16px;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}
a:hover {
  color: #43494E;
}
a:focus, a:hover {
  text-decoration: none;
}

section {
  overflow: hidden;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #43494E;
  font-weight: 400;
}

p {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.error {
  color: #ff4500;
}

.success {
  color: green;
}

.scroll-top {
  width: 35px;
  height: 35px;
  background-color: #43494E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.scroll-top img {
  height: 20px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.scroll-top:hover {
  color: #fff;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

/*--------------------------------------------------------------
  ##  Page Loader
  --------------------------------------------------------------*/
.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: #ffffff;
}
.page-loader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.page-loader .loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #43494E;
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.62);
          box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.62);
  border-radius: 50%;
}
.page-loader .loader:before {
  content: "";
  position: absolute;
  inset: 0px;
  margin: auto;
  background-color: #041026;
  -webkit-animation: crlMugLoader 2s linear infinite alternate;
          animation: crlMugLoader 2s linear infinite alternate;
}

@-webkit-keyframes crlMugLoader {
  0%, 10% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  90%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes crlMugLoader {
  0%, 10% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  90%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #f8fafc;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (max-width: 482px) {
  .navbar-area {
    background: #fff;
  }
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 8px 0;
}
@media (max-width: 991px) {
  .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
}
.navbar .navbar-brand {
  text-decoration: none;
  padding: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navbar .navbar-brand img {
  height: 30px;
  margin-right: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 1299px) {
  .navbar .navbar-brand img {
    height: 27px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-brand img {
    height: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    height: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 24px;
  }
}
@media only screen and (max-width: 482px) {
  .navbar .navbar-brand {
    font-size: 16px;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 32px;
}
.navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 0;
  }
}
.navbar .navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #2B2B2B;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
}
.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a.active {
  color: #43494E;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    padding: 2px 0;
    margin: 6px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #EEEEF1;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    padding: 8px 20px 18px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #EEEEF1;
    -webkit-box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
            box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
  }
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #43494E;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

/** Medium devices (tablets, 768px and up) **/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sticky .navbar {
  padding: 8px 0;
}
@media (max-width: 991px) {
  .sticky .navbar {
    padding: 8px 0;
  }
}
@media (max-width: 767px) {
  .sticky .navbar {
    padding: 8px 0;
  }
}

@media only screen and (min-width: 992px) {
  .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 991px) {
  .social {
    padding-top: 6px;
  }
}
.social li {
  padding: 0;
  margin-left: 74px;
}
@media only screen and (max-width: 991px) {
  .social li {
    margin-left: 0px;
  }
}
.social li .btn-hero {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 22px 3px 22px;
  background-color: #005121;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  border: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social li .btn-hero:hover {
  background-color: #016b2c;
  color: #fff;
}

/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/
.hero-area {
  padding-top: 90px;
  padding-bottom: 35px;
  background-image: url("../img/hero/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: #E8E8EC;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .hero-area {
    text-align: center;
    padding-top: 76px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area {
    padding-top: 66px;
  }
}
@media only screen and (max-width: 482px) {
  .hero-area {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 482px) {
  .hero-area {
    background-image: url("../img/hero/mob-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.hero-area h1 {
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 34px;
}
@media only screen and (max-width: 1299px) {
  .hero-area h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-area h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area h1 {
    font-size: 33px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .hero-area h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.hero-area .btn-main {
  display: inline-block;
  background-color: #43494E;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 11px 40px 8px 40px;
  border-radius: 10px;
  border: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hero-area .btn-main:hover {
  background-color: #2b2f33;
  color: #fff;
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.42);
}

/*--------------------------------------------------------------
# intro
--------------------------------------------------------------*/
.intro {
  padding: 90px 0px;
}
@media only screen and (max-width: 1199px) {
  .intro {
    padding: 80px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .intro {
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .intro {
    padding: 40px 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.01%, #F6F8FB), to(#F6F8FB));
    background: linear-gradient(180deg, #F6F8FB 1.01%, #F6F8FB 100%);
    padding-left: 15px;
    padding-right: 15px;
  }
}
.intro .title {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1199px) {
  .intro .title {
    font-size: 27px;
    max-width: 700px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .intro .title {
    text-align: start;
  }
}
@media only screen and (max-width: 767px) {
  .intro .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .intro .in-single {
    max-width: 300px;
  }
}
.intro .in-single .in-logo {
  height: 56px;
  margin-bottom: 5px;
}
.intro .in-single h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.intro .in-single P {
  font-weight: 300;
}

/*--------------------------------------------------------------
# products
--------------------------------------------------------------*/
.products {
  padding-top: 30px;
  padding-bottom: 90px;
}
@media only screen and (max-width: 1199px) {
  .products {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .products {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .products {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.products .sec-t {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1199px) {
  .products .sec-t {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .products .sec-t {
    text-align: start;
  }
}
@media only screen and (max-width: 767px) {
  .products .sec-t {
    margin-bottom: 30px;
  }
}
.products .sec-t h2 {
  font-size: 32px;
  font-weight: 300;
  color: #000;
  margin-bottom: 12px;
}
@media only screen and (max-width: 1199px) {
  .products .sec-t h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .products .sec-t h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.products .sec-t p {
  font-size: 17px;
  color: #000;
}
.products .p-single {
  background: #f6f8fb;
  border-radius: 18px;
  overflow: hidden;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.products .p-single .p-body {
  padding: 40px 40px;
}
@media only screen and (max-width: 767px) {
  .products .p-single .p-body {
    padding: 30px 30px;
  }
}
.products .p-single h4 {
  font-size: 28px;
  color: #43494e;
  font-weight: 300;
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .products .p-single h4 {
    font-size: 25px;
  }
}
.products .p-single p {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .products .p-single p {
    margin-bottom: 30px;
  }
}
.products .p-single .learn-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.products .p-single .learn-btn span {
  font-weight: 600;
  margin-right: 12px;
}
.products .p-single .learn-btn img {
  height: 10px;
}
.products .p-single .learn-btn:hover {
  color: #43494E;
}
.products .p-single:hover {
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.23);
}

/*--------------------------------------------------------------
# map
--------------------------------------------------------------*/
.map {
  background: linear-gradient(268.13deg, #F7F7F7 0.36%, #F9FAFD 106.22%);
  padding: 90px 0px;
}
@media only screen and (max-width: 1199px) {
  .map {
    padding: 80px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .map {
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .map {
    padding: 40px 0px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.map .sec-t {
  text-align: center;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1199px) {
  .map .sec-t {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .map .sec-t {
    text-align: start;
  }
}
@media only screen and (max-width: 767px) {
  .map .sec-t {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0;
  }
}
.map .sec-t h2 {
  font-size: 32px;
  font-weight: 300;
  color: #000;
  margin-bottom: 12px;
}
@media only screen and (max-width: 1199px) {
  .map .sec-t h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .map .sec-t h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.map .sec-t p {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  color: #000;
}
.map .sec-t p a {
  display: inline-block;
  text-decoration: underline;
  color: #006FAA;
}
.map .map-single {
  text-align: center;
}
.map .map-single .map-img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .map .map-single .map-img {
    margin-bottom: 12px;
    width: 160px;
    height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .map .map-single .map-img {
    height: 120px;
  }
}
.map .map-single h5 {
  color: #000;
  font-weight: 600;
  font-size: 19px;
}
@media only screen and (max-width: 991px) {
  .map .map-single h5 {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# footer-top
--------------------------------------------------------------*/
.footer-top {
  padding: 70px 0px;
}
@media only screen and (max-width: 1199px) {
  .footer-top {
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .footer-top {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top {
    padding: 40px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer-links h5 {
  color: #000;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .footer-links h5 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .footer-links h5 {
    font-size: 18px;
  }
}
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links ul li:not(:last-child) {
  margin-bottom: 7px;
}
.footer-links ul a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
@media only screen and (max-width: 482px) {
  .footer-links ul a {
    font-size: 13px;
  }
}

.footer-social h5 {
  color: #000;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .footer-social h5 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .footer-social h5 {
    font-size: 18px;
  }
}
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social ul li {
  display: inline-block;
}
.footer-social ul li:not(:last-child) {
  margin-right: 8px;
}
.footer-social ul a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer-social ul a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.footer-social ul a img {
  height: 19px;
}
@media only screen and (max-width: 482px) {
  .footer-social ul a img {
    height: 17px;
  }
}

.footer-bottom {
  padding-top: 10px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #A3A3A3;
}
@media only screen and (max-width: 767px) {
  .footer-bottom {
    display: block;
    padding-top: 0px;
    padding-bottom: 30px;
  }
}
.footer-bottom p {
  font-size: 13px;
  color: #A3A3A3;
}
@media only screen and (max-width: 767px) {
  .footer-bottom p {
    margin-bottom: 12px;
  }
}
.footer-bottom .legal-links a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  color: #A3A3A3;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer-bottom .legal-links a:hover {
  text-decoration: underline;
}
.footer-bottom .legal-links span {
  font-size: 13px;
}
/*# sourceMappingURL=main.css.map */