body {
  position: relative;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: fixed;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}


/*--------------------------------------------------------------
# part-sec
--------------------------------------------------------------*/

.part-sec{
  padding: 30px 30px 10px 0px;
  margin-left: 270px;
  max-width: 1100px;
}

.part-sec h2{
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 14px;
}
.part-sec p{
  font-size: 16px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 991px) {
 .part-sec{
  margin-left: 250px;
 }
 .part-sec h2{
  font-size: 28px;
 }
}

@media only screen and (max-width: 767px) {
  .part-sec{
    margin-left: 0;
    padding: 25px 20px 10px 20px;
  }
 .part-sec h2{
  font-size: 26px;
 }
}
